<%= form_for(episode) do |f| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2>Aww shoot</h2>

      <ul>
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :happy_little_trees %>
    <%= f.number_field :happy_little_trees %>
  </div>

  <div class="field">
    <%= f.label :cabin %>
    <%= f.check_box :cabin %>
  </div>

  <div class="field">
    <%= f.label :snowy_mountains %>
    <%= f.number_field :snowy_mountains %>
  </div>

  <div class="field">
    <%= f.label :critters %>
    <%= f.number_field :critters %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
